pkgbase = steam-autostart-silent
	pkgdesc = Maintain a Steam XDG autostart entry that launches with -silent
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/matthewyjiang/steam-autostart-silent
	install = steam-autostart-silent.install
	arch = any
	license = MIT
	depends = gtk4
	depends = libadwaita
	depends = polkit
	depends = python
	depends = python-gobject
	depends = steam
	source = sync-autostart
	source = apply-config
	source = steam-autostart-silent-config
	source = steam-autostart-silent-config-app.py
	source = steam-autostart-silent-config.desktop
	source = io.github.matthewyjiang.steam-autostart-silent.policy
	source = steam-autostart-silent.hook
	source = steam-autostart-silent.install
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = steam-autostart-silent
